/*
* SocioSearch Navbar
*/
.navbar-custom {
  background-color: #465060;
  box-shadow: 0px 0px 10px #353738;
}
.navbar-custom .navbar-brand {
  color: #f0eded;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
}
.navbar-custom .navbar-text {
  color: #f0eded;
}
.navbar-custom .navbar-nav > li > a {
  color: #f0eded;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #8d8d8d;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #707070;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #707070;
}
.navbar-custom .navbar-toggle {
  border-color: #707070;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #707070;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #f0eded;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #f0eded;
}
.navbar-custom .navbar-link {
  color: #f0eded;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #f0eded;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #707070;
  }
}

/*
* Login Page Styles
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #577596;
}

.title {
  text-align: center;
  transform: translateY(20px);
  font-size: 45px;
  color: white;
  text-transform: uppercase;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 370px;
  background-color: #2999b2;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover, .sociobtn:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  transition-duration: .3s;
}

/**
* LOGIN THUMB
**/
.card__thumb {
  height: 245px;
  padding-top: 20%;
  overflow: hidden;
  background-image: url("../assets/computercard.png");
  background-size: cover;
}

form {
  padding: 0px;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: left;
  font-size: 18px;
  color: black;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}

.card__body {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 145px;
  width: 370px;
  color: #d6d6d6;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #E8C57C;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.sociobtn {
  border-radius: 5px;
  border-style: none;
  padding: 10px 65px;
  font-size: 24px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  display: block;
}

.sociobtn:active {
  box-shadow: 0px 1px 0px 0px;
}

.gold {
  background-color: #E8C57C;
  box-shadow: 0px 5px 0px 0px #F8C24E;
}

.gold:hover {
  background-color: #E8C57C;
}

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #E8C57C;
}

.card__footer {
  position: absolute;
  bottom: 12px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  color: #A3A9A2;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
}
.icon + .icon {
  padding-left: 10px;
}

/*
* Search Page Styles
*/
#blurb {
    text-align: center;
    font-style: italic;
    font-size: 14pt;
}

.searchbar {
    clear: both;
    background: #232323;
    height: 60px;
    width: 100%;
    display: inline-block;
}

.searchbar li {
    height: 60px;
    float: left;
    list-style-type: none;
    position: relative;
}

.searchbar li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 2px solid #2e2e2e;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.searchbar li a:hover {
    background-color: #2e2e2e;
}

#settings a {
    padding: 18px;
    height: 60px;
    font-size: 10px;
    line-height: 24px;
}

#search {
    width: 357px;
    margin: 4px;
}

#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    border-radius: 0px;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background-color: #4484ce;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

#search_text::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
#search_text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
#search_text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
#search_text:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

#search_text:focus {
    background-color: #3b71c6;
}

#search_button {
    border: 0 none;
    border-radius: 0px;
    background: #4484ce url('../assets/search.png') center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}

#search_options a {
    border-left: 0 none;
}

#search_options > a {
    background-image: url('../assets/triangle.png');
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}

.subnav {
    visibility: hidden;
    position: absolute;
    padding-left: 0px;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}

.subnav li {
    float: none;
}

.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}

#search_options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

/* Loading */
.load-bar {
  display: none;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 15px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

#trendsChart {
    background-color: #272727;
    padding-top: 10px;
    border-radius: 5px;
}

#search-result {
    height: 250px;
}

/*
* About Page Styles
*/
.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 15px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 15px;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

/*
* Bootstrap Modifications
*/
#main-content {
    background-color: #e3e7ed;
    box-shadow: 0px 0px 15px black;
    padding-bottom: 15px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background:
        linear-gradient(45deg,
        rgba(255,255,255,0) 48%,
        rgba(255,255,255,.05) 50%,
        rgba(255,255,255,0) 52%),
        linear-gradient(-45deg,
        rgba(255,255,255,0) 48%,
        rgba(255,255,255,.05) 50%,
        rgba(255,255,255,0) 52%);
    background-size: 1em 1em;
    background-color: #616f87;
}

.well {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#sociosearch-footer {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0px;
    padding-top: 1.5rem;
    background-color: #465060;
    color: #f0edeb;
    text-align: center;
}
