<div class="card">
    <form class="form" method="post" action="/users/login">
        <header class="card__thumb">
            <div id="formbox">
                <input type="text" name="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
            </div>
        </header>

        <div class="card__body">
            <button type="submit" class="sociobtn gold">LOGIN</button>
        </div>
    </form>
</div>
