<div class="card">
    <header class="card__thumb">
         <div id="formbox">
            <form class="form">
                <input type="text" placeholder="email">
                <input type="password" placeholder="password">
            </form>
        </div>
    </header>

    <div class="card__body">
        <a href="" class="sociobtn gold">LOGIN</a>
    </div>
</div>
