<!--Search Page for SocioSearch -->
<h2 class="page-header" id="blurb">Enter a search term, and see just how buzzing the topic is!</h2>

<!-- Search Form -->
<ul class="searchbar">
    <li id="settings">
        <a><img src="../assets/settings.png" /></a>
    </li>
    <li>
        <h3 id="search_type_label">Search Type: </h3>
    </li>
    <li id="search_options">
        <a id="active_type">Things</a>
        <ul class="subnav">
            <li><a id="Invest_type" onclick="switchActiveType('Invest_type')">Investments</a></li>
            <li><a id="RealEstate_type" onclick="switchActiveType('RealEstate_type')">Real-Estate</a></li>
            <li><a id="People_type" onclick="switchActiveType('People_type')">People</a></li>
            <li><a id="Locations_type" onclick="switchActiveType('Locations_type')">Locations</a></li>
        </ul>
    </li>
    <li id="search">
        <input type="text" name="search_text" id="search_text" placeholder="Search" onkeyup="inputKeyUp(event)"/>
        <button name="search_button" id="search_button" onclick="sendRequest()"/>
    </li>
    <li id="search_options">
        <a id="active_filter">Default Filter</a>
        <ul class="subnav">
            <li><a id="ETD_filter" onclick="switchActiveFilter('ETD_filter')">Earliest To Date</a></li>
            <li><a id="YTD_filter" onclick="switchActiveFilter('YTD_filter')">One Year</a></li>
            <li><a id="6MO_filter" onclick="switchActiveFilter('6MO_filter')">Six Months</a></li>
            <li><a id="Today" onclick="switchActiveFilter('Today')">Today</a></li>
        </ul>
    </li>
</ul>

<div class="load-bar" id="search-loading">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>

<div id="trendsChart"></div>
<div class="row" id="thumbnail-results"></div>
