<!--Search Page for SocioSearch -->
<h2 class="page-header" id="blurb">Enter a search term, and see just how buzzing the topic is on Social Media!</h2>

<!-- Search Form -->
<ul class="searchbar">
    <li id="settings">
        <a href=""><img src="../assets/settings.png" /></a>
    </li>
    <li>
        <a href="">Search Types</a>
    </li>
    <li id="search">
        <input type="text" name="search_text" id="search_text" placeholder="Search" onkeyup="inputKeyUp(event)"/>
        <button name="search_button" id="search_button" onclick="sendRequest()"/>
    </li>
    <li id="search_options">
        <a href="">Filters</a>
        <ul class="subnav">
            <li><a href="">Lorem</a></li>
            <li><a href="">Ipsum</a></li>
            <li><a href="">Dolar</a></li>
            <li><a href="">Bones</a></li>
        </ul>
    </li>
</ul>

<div class="load-bar" id="search-loading">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>

<div id="trendsChart"></div>
<div class="row" id="thumbnail-results"></div>
